.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

:root {
	--main-color: #dfc190;
	--sub-color: #916929;
	--accent-color: #e0be89;
	--white-color: #f5f4eb;
	--bg-color-r: 223;
	--bg-color-g: 193;
	--bg-color-b: 144;
	--bg-opacity: .8;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	word-break: break-all;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	color: var(--white-color);
	overflow-x: hidden;
	background-color: var(--white-color);
	font-family: 'Nanum Myeongjo', serif;
	position: relative;
	z-index: -10;
}

.svg-txt {
	padding: 0 2rem;
	position: relative;
	z-index: 1001;

	@media screen and (max-width: 800px) {
		padding: 0 4%;
	}
}

.svg-txt2 {
	padding: 0 2rem;
	position: relative;
	z-index: 998;
	max-width: 100%;

	@media screen and (max-width: 800px) {
		top: -5rem;
		padding: 0 4%;
	}

	path {
		fill: var(--sub-color);
		stroke: var(--sub-color);
		fill-opacity: 1;
	}
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--white-color);
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 2s;
}

.logo {
	text-transform: capitalize;
	font-size: 30px;
	font-family: 'Nanum Myeongjo', serif;
	color: var(--sub-color);
	cursor: pointer;
	transition: all .4s;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem 1.5rem;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 999;
	font-family: 'Lato', sans-serif;
	transition: all .4s;

	&:hover {
		background: var(--white-color);
	}

	@media screen and (max-width: 800px) {

		&:hover {
			background: transparent;
		}
	}
}

.menu {
	display: flex;
	gap: 1rem;
	text-transform: uppercase;
	font-weight: 100;

	@media screen and (max-width: 800px) {
		display: none;
	}

	a {
		color: var(--sub-color);
		text-decoration: none;
		padding: 0.5rem 1.5rem;
		border-radius: 20px;
		transition: all .4s;

		&:hover {
			color: var(--white-color);
			background: var(--sub-color);
		}
	}
}

.sp-nav {
	display: none;

	@media screen and (max-width: 800px) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	a {
		display: none;
	}

	&.panelactive {
		position: fixed;
		z-index: 998;
		top: 0;
		width: 100%;
		height: 100vh;

		a {
			display: block;
			text-decoration: none;
			color: var(--sub-color);
			margin-bottom: 50px;
			font-size: 1.5rem;
			text-transform: capitalize;
		}
	}
}

.open {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 998;
	cursor: pointer;
	width: 50px;
	height: 50px;
	display: none;
	background: transparent;
	padding: 10px;

	@media screen and (max-width: 800px) {
		display: block;
	}

	span {
		display: inline-block;
		transition: all .4s;
		position: absolute;
		left: 14px;
		height: 3px;
		border-radius: 2px;
		background: var(--sub-color);
		width: 45%;

		&:nth-of-type(1) {
			top: 15px;
		}

		&:nth-of-type(2) {
			top: 23px;
		}

		&:nth-of-type(3) {
			top: 31px;
		}
	}

	&.active {
		z-index: 9999 !important;

		span {
			transition: all .4s;

			&:nth-of-type(1) {
				top: 18px;
				left: 14px;
				transform: translateY(6px) rotate(-45deg);
				width: 45%;
			}

			&:nth-of-type(2) {
				opacity: 0;
			}

			&:nth-of-type(3) {
				top: 30px;
				left: 14px;
				transform: translateY(-6px) rotate(45deg);
				width: 45%;
			}
		}
	}
}

.circle {
	position: fixed;
	z-index: 100;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: var(--main-color);
	transform: scale(0);
	bottom: -50px;
	left: calc(50% - 50px);
	transition: all .2s;

	&.circleactive {
		transform: scale(50);
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.move-section {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;

	.nature {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
		z-index: -2;
		position: relative;
	}
}

.front-img-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.mask {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

section {
	width: 100vw;
	flex-shrink: 0;
	overflow: hidden;
}

.news-content {
	background: #6a4b1b;
	padding: 2em;
	position: relative;

	@media screen and (max-width: 800px) {
		padding: 2.5rem 1rem;
	}
}

.news-title {
	display: inline-block;
	font-size: 1.1rem;
	font-weight: bold;
	width: 150px;
	vertical-align: top;
	line-height: 1.4;

	@media screen and (max-width: 800px) {
		font-size: 1.5rem;
		border-bottom: 1px solid #fff;
	}
}

.news-list {
	display: inline-block;
	width: calc(100% - 200px);

	@media screen and (max-width: 800px) {
		width: 100%;
	}

	dl {
		vertical-align: top;
		line-height: 1;

		@media screen and (max-width: 800px) {
			margin-top: 40px;
		}
	}

	dt {
		display: inline-block;
		padding-right: 10px;
		border-right: 1px solid #fff;
		margin-right: 10px;
		line-height: 1;
		font-size: 1rem;
		vertical-align: top;
		margin-top: 5px;

		@media screen and (max-width: 800px) {
			border-right: none;
		}
	}

	dd {
		width: calc(100% - 200px);
		line-height: 1.6;
		display: inline-block;
		font-size: 1rem;
		letter-spacing: 1px;
		vertical-align: top;

		@media screen and (max-width: 800px) {
			margin-top: 5px;
			width: 100%;
		}
	}
}

.front-text-container {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Nanum Myeongjo', serif;

	.txt-bottom {
		transform: translateY(20px);
		font-size: 14px;
		letter-spacing: 1.3px;
		font-weight: 300;
		font-family: 'Lato', sans-serif;
		color: var(--white-color);
	}
}

.bg-title {
	font-size: 2rem;

	@media screen and (max-width: 800px) {
		font-size: 1.3rem;
	}
}

.back-text-container {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}

.bg-p {
	min-height: 80vh;
	padding: 4rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(/pc.webp);
	position: relative;

	&::before {
		content: "";
		background: #6a4a1bcc;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	p {
		color: var(--white-color);
		font-size: 4rem;
		font-family: 'Nanum Myeongjo', serif;
		text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;

		@media screen and (max-width: 800px) {
			font-size: 2rem;
		}
	}
}

.left-side {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	gap: 1rem;
	opacity: 1;
	position: relative;
	z-index: 0;
	width: 55%;
	height: 100vh;

	@media screen and (max-width: 800px) {
		width: 100%;
		padding: 2rem 4%;
	}
}

.right-side {
	width: 45%;
	position: relative;
	z-index: 0;
	color: #fff;
	height: 100%;
	opacity: 1;

	@media screen and (max-width: 800px) {
		display: none;
	}

	.about-title {
		position: absolute;
		right: 2rem;
		bottom: 0;
		font-size: 7.5rem;
	}
}

.detail-btn {
	background-color: var(--sub-color);
	color: var(--white-color);
	border: 1px solid var(--sub-color);
	padding: 0.8rem 1rem;
	transition: all .2s;
	border-radius: 50px;

	&:hover {
		color: var(--sub-color);
		border: 1px solid var(--sub-color);
		background: transparent;
	}
}

.text-title {
	font-family: 'Nanum Myeongjo', serif;
	margin-bottom: 1.5rem;

	&.green {
		text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;

		.bg-title {
			border-left: 5px solid var(--white-color);
			padding-left: 16px;
		}
	}
}

.text-container {
	max-width: 100%;

	p {
		padding-bottom: 1rem;
		line-height: 1.4;
		margin-bottom: 1.5rem;

		&.green {
			text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
		}
	}
}

.main-section {
	width: 100vw;
	min-height: 100vh;
}

.main-inner {
	display: flex;
	width: 100vw;
	min-height: 100vh;
}

.main-left-side {
	width: 30%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-image: url(/keybord.webp);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

	@media screen and (max-width: 1000px) {
		display: none;
	}

	&::before {
		width: 100%;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.6);
		z-index: 1;
	}

	p {
		color: var(--white-color);
		z-index: 2;
		font-size: 3rem;
	}
}

.main-left-side2 {
	width: 70%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 4rem 2rem;
	position: relative;
	background-image: url(/pc3.webp);
	background-repeat: no-repeat;
	background-position: center;

	@media screen and (max-width: 1000px) {
		width: 100%;
	}

	@media screen and (max-width: 800px) {
		padding: 4rem 4%;
	}

	&::before {
		width: 100%;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .9;
		background: var(--white-color);
		z-index: 1;
	}

	.main-left-contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		opacity: 1;
		z-index: 2;
		width: 100%;
		max-width: 1200px;

		.blog-item-flex {
			width: 100%;
			display: flex;
			margin-bottom: 1.5rem;
			z-index: 2;

			@media screen and (max-width: 800px) {
				flex-direction: column;
			}

			a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: flex-start;
				padding: 20px;
			}

			.blog-item-bg {
				width: 58%;
				margin-right: 4%;

				@media screen and (max-width: 800px) {
					width: 100%;
					margin-right: 0;
					margin-bottom: 1rem;
				}

				a {
					flex-direction: column;
					background: var(--white-color);
					transition: all .5s ease;

					&:hover {
						background: transparent;
					}
				}

				img {
					width: 100%;
					max-height: 300px;
					height: auto;
					object-fit: cover;
					margin-bottom: .8rem;

					@media screen and (max-width: 800px) {
						max-height: 200px;
					}
				}

				.date {
					color: var(--sub-color);
					font-size: 1rem;
				}

				h3 {
					color: var(--sub-color);
					margin-top: .8rem;
					margin-bottom: .8rem;
					font-size: 1.2rem;
					word-break: break-all;
				}
			}

			.blog-item-sm-box {
				width: 38%;

				@media screen and (max-width: 800px) {
					width: 100%;
				}
			}

			.blog-item-sm {
				margin-bottom: 1.5rem;

				@media screen and (max-width: 800px) {
					margin-bottom: .8rem;
				}

				a {
					background: var(--white-color);
					transition: all .5s ease;

					&:hover {
						background: transparent;
					}
				}

				img {
					max-width: 120px;
					width: 100%;
					height: auto;
					max-height: 100px;
					object-fit: cover;
				}

				.date {
					color: var(--sub-color);
					margin-left: .8rem;
					font-size: 1rem;
				}

				h3 {
					color: var(--sub-color);
					margin-top: .8rem;
					margin-left: .8rem;
					font-size: 1.1rem;
					word-break: break-all;

					@media screen and (max-width: 800px) {
						margin-top: .4rem;
					}
				}
			}
		}

		a {
			z-index: 2;
		}
	}
}

.main-right-side {
	width: 70%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 4rem;
	position: relative;
	background-image: url(/pc2.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media screen and (max-width: 1000px) {
		width: 100%;
		padding: 2rem;
	}

	@media screen and (max-width: 800px) {
		padding: 4rem 4%;
	}

	&::before {
		width: 100%;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .9;
		background: var(--white-color);
		z-index: 1;
	}

	.main-right-contents {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		opacity: 1;
		z-index: 2;
		position: relative;
		padding: 4rem;

		@media screen and (max-width: 800px) {
			padding: 1.5rem;
		}

		&::before,
		&::after {
			content: '';
			width: 20px;
			height: 30px;
			position: absolute;
			display: inline-block;
		}

		&::before {
			border-left: solid 1px var(--sub-color);
			border-top: solid 1px var(--sub-color);
			top: 0;
			left: 0;
		}

		&::after {
			border-right: solid 1px var(--sub-color);
			border-bottom: solid 1px var(--sub-color);
			bottom: 0;
			right: 0;
		}


		h2 {
			color: var(--sub-color);
			border-left: 5px solid var(--sub-color);
			padding-left: 16px;
		}

		p {
			color: var(--sub-color);
			line-height: 1.6rem;
			word-break: break-all;
			max-width: 700px;
		}
	}
}

.main-right-side2 {
	width: 30%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-image: url(/pc.webp);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

	@media screen and (max-width: 1000px) {
		display: none;
	}

	&::before {
		width: 100%;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.6);
		z-index: 1;
	}

	p {
		color: var(--white-color);
		z-index: 2;
		font-size: 3rem;
	}
}

.footer-logo {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .8rem 0;
	background-color: #ecdabd;

	a {
		position: relative;
		color: var(--sub-color);
		text-decoration: none;
		z-index: 2;
		font-size: 1.2rem;
		line-height: 1;
	}
}

.under-main {
	min-height: 100vh;
	background: var(--white-color);

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--sub-color);
		padding: 10rem 2rem;
		position: relative;
		min-height: 100vh;

		@media screen and (max-width: 800px) {
			padding: 8rem 4%;
		}

		.bg {
			content: "";
			min-width: 1343px;
			min-height: 100%;
			position: absolute;
			top: 100px;
			right: 0;
			bottom: 0;
			left: 0;
			background: url(/pc.webp) no-repeat;
			background-size: cover;
			z-index: 0;

			&::after {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				content: "";
				background-color: rgba(245, 244, 235, 0.88);
				z-index: 1;
			}
		}

		.under-contents {
			z-index: 1;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		h1 {
			font-size: 3rem;
			margin-bottom: 5rem;
			text-transform: capitalize;
			z-index: 1;
			position: relative;
			text-align: center;

			@media screen and (max-width: 800px) {
				font-size: 2rem;
			}

			&::after {
				border-bottom: solid var(--sub-color);
				-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
				position: absolute;
				bottom: -10px;
				left: 50%;
				content: "";
				border-bottom-width: 2px;
				width: 80px;
			}
		}

		h2 {
			z-index: 1;
			margin-bottom: 2rem;
			max-width: 1200px;
		}

		p {
			font-size: 1.3rem;
			z-index: 1;
			line-height: 1.6rem;
			max-width: 1200px;
			font-family: 'Lato', sans-serif;
		}

		a {
			color: var(--sub-color);
			margin-bottom: 3rem;
			display: block;
		}
	}
}

.blog-item-box {
	display: flex;
	position: relative;
	z-index: 3;
	flex-wrap: wrap;
	margin-top: 3rem;

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}

	.blog-item {
		width: 30%;
		margin: 0 1.5% 1.2rem;

		@media screen and (max-width: 800px) {
			width: 100%;
			margin: 0 0 1.2rem;
		}
	}

	a {
		display: flex;
		flex-direction: column;
		color: var(--sub-color);
		margin-bottom: 3rem;
		background: var(--white-color);
		transition: all .5s ease;
		padding: 20px;

		&:hover {
			background: transparent;
		}
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		margin-bottom: .5rem;
	}

	h2 {
		margin-top: .5rem;
		font-size: 1.2rem;
	}
}

time.date {
	display: flex;
	align-items: center;
	margin-top: .4rem;

	i {
		font-size: 1.1rem;
		margin-right: .3rem;
	}
}

.blog-detail-inner {
	position: relative;
	z-index: 1;

	time.date {
		justify-content: center;
	}

	.blog-body {
		line-height: 1.6rem;

		img {
			margin: 1rem 0;
			width: 100%;
			max-height: 500px;
			object-fit: cover;
		}
	}
}

.contact {
	border-top: solid 10px #6a4b1b;
	padding: 4rem 2rem;
	text-align: center;
	background: var(--white-color);
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23f9f9f0' fill-opacity='0.94' fill-rule='evenodd'/%3E%3C/svg%3E");

	@media screen and (max-width: 800px) {
		padding: 4rem 4%;
	}

	h2 {
		font-size: 3rem;
		color: var(--sub-color);
	}
}

.form-box {
	max-width: 600px;
	margin: 2.5rem auto 3.5rem;

	.form-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input,
	textarea {
		color: var(--sub-color);
		background-color: rgba(var(--bg-color-r), var(--bg-color-g), var(--bg-color-b), 0.4);
		font-size: 1rem;
		transition: all .3s;
		padding: .8rem;
		width: 100%;
		border: none;
		margin-bottom: 1.2rem;
		font-weight: 400;
		font-family: 'Nanum Myeongjo', serif;

		&::placeholder {
			color: #be9047;
			font-family: 'Nanum Myeongjo', serif;
		}

		&:focus {
			outline: none;
		}
	}

	textarea {
		min-height: 150px;
	}

	span {
		color: var(--sub-color);
		margin-bottom: 1.2rem;
	}

	.submit-btn {
		color: var(--white-color);
		border: 1px solid var(--sub-color);
		background: var(--sub-color);
		padding: 1rem 1.5rem;
		margin-top: 1rem;
		transition: all .5s ease;
		cursor: pointer;
		font-family: 'Nanum Myeongjo', serif;
		font-size: 1rem;
		border-radius: 50px;

		&:hover {
			color: var(--sub-color);
			border: 1px solid var(--sub-color);
			background: transparent;
		}
	}
}

.recaptcha {
	text-align: center;
	margin-top: 2rem;
	color: var(--sub-color);

	@media screen and (max-width: 800px) {
		font-size: .8rem;
	}

	a {
		color: var(--sub-color);
		text-decoration: underline;
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

.flex-box {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}

	.flex-item {
		width: 48%;
		background: var(--white-color);
		margin-bottom: 2rem;
		padding: 2rem;

		@media screen and (max-width: 800px) {
			width: 100%;
			padding: 2rem 4%;
		}

		h2 {
			font-size: 1.3rem;
			margin-bottom: 1rem;
		}

	}
}

.read-text {
	margin-bottom: 2rem;
}

hr {
	margin: 3rem 0 5rem;
	z-index: 2;
	width: 100%;
	max-width: 1200px;
	border: none;
	border-top: 0.3px solid var(--sub-color);
}

.cta-section {
	padding: 2rem;
	background-color: var(--white-color);
	margin-top: 5rem;
	position: relative;
	z-index: 2;
	max-width: 800px;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 800px) {
		padding: 2rem 4%;
	}

	h2 {
		text-align: center;
	}
}

.cta-button {
	display: inline-block;
	padding: 1rem 1.5rem;
	color: var(--white-color) !important;
	border: 1px solid var(--sub-color);
	background: var(--sub-color);
	padding: 1rem 1.5rem;
	text-decoration: none;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 0 !important;
	transition: all .5s ease;

	&:hover {
		color: var(--sub-color) !important;
		border: 1px solid var(--sub-color);
		background: transparent;
	}
}